@import url('https://fonts.googleapis.com/css?family=Asap|Open+Sans|Abril+Fatface|Racing+Sans+One|Ultra');

@import '_cust_variables';

@mixin sys_font(
  $weight: 700,
  $size: 10px,
  $color: 'black',
  $line: 1.1,
  $spacing: 1px
) {
  font-weight: $weight;
  font-style: normal;
  font-family: 'Asap', sans-serif;
  color: $color;
  font-size: $size;
  line-height: $line;
  letter-spacing: $spacing;
}

@mixin btn($color: 'blue', $hover_color: 'yellow') {
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  font-style: normal;
  border-color: transparent;
  background-color: $color;
  transition: background-color 0.2s ease-out;
  &:hover {
    background-color: $hover_color;
  }
}

@mixin background_img($path) {
  background-image: url($path);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  overflow-x: hidden;

  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    .logo {
      background: $light_blue;
      transform: skewX(-45deg);
      transform-origin: top left;
      margin-bottom: 20px;
      margin-left: -1000%;
      justify-content: end;
      display: grid;
      img {
        padding: 10px;
        padding-right: 40px;
        transform: skewX(45deg);
      }
    }

    .header_info {
      display: grid;
      grid-column: span 2;
      grid-template-rows: 1fr auto;
      transform: skewX(-45deg);
      transform-origin: top right;

      .contact {
        padding-left: 30px;
        background: white;
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        align-content: center;
        grid-gap: 30px;

        .header_contact {
          transform: skewX(45deg);
          i {
            color: $light_blue;
            position: relative;
            top: 6px;
          }
        }
      }
      .menu {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 20px;
        justify-content: start;
        background: black;
        color: white;
        padding-left: 30px;
        margin-right: -1000%;
        .quote_link,
        .nav_link {
          transform: skewX(45deg);
          font-family: 'Open Sans', sans-serif;
          font-weight: 500;
          font-style: normal;
          color: white;
          padding: 10px 10px;
          text-decoration: none;
          background-color: transparent;
          &:hover {
            border-bottom: 2px solid $light_blue;
          }
        }
        .quote_link {
          border: 2px solid $light_blue;
          background-color: $light_blue;
        }
      }
    }
  }

  .slider {
    h3 {
      padding-top: 10vh;
      padding-bottom: 5vh;
      @include sys_font(800, 54px, white, 0, 0);
    }
    span {
      @include sys_font(800, 15px, white, 0, 0);
    }

    .btn_quote {
      @include btn($light_blue, $light_blue_darken);
    }
    .carousel_img:nth-child(2) {
      @include background_img('../images/slider/slider1.jpg');
    }
    .carousel_img:nth-child(3) {
      @include background_img('../images/slider/slider2.jpg');
    }
    .carousel_img:nth-child(4) {
      @include background_img('../images/slider/slider3.jpg');
    }
  }

  .content {
    // ***************** OUR SERVICES *****************************
    .our_services {
      padding-top: 30px;
      padding-bottom: 100px;
      .service_desc {
        padding-bottom: 20px;
        @include sys_font(300, 14px, black, 1.5, 0.02em);
      }
      .services_list {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        .services_list_item {
          width: 100%;
          height: 200px;
          position: relative;
          overflow: hidden;
          .service_name {
            position: absolute;
            bottom: 15px;
            background-color: $light_blue;
            padding: 5px 20px;
            margin-left: -10px;
            transform: skewX(-30deg);
            div {
              transform: skewX(30deg);
              color: white;
              font-size: 15px;
              font-weight: 600;
              .service_icon {
                position: relative;
                top: 4px;
                font-weight: 900;
                font-size: 18px;
              }
            }
          }
        }

        .services_list_item:nth-child(1) {
          @include background_img('../images/services/service1.jpg');
        }
        .services_list_item:nth-child(2) {
          @include background_img('../images/services/service2.jpg');
        }
        .services_list_item:nth-child(3) {
          @include background_img('../images/services/service3.jpg');
        }
        .services_list_item:nth-child(4) {
          @include background_img('../images/services/service1.jpg');
        }
      }
    }

    // ****************** CHOOSE US ***************************
    .choose_us {
      position: relative;
      background-color: $dark_blue;
      padding-top: 30px;
      padding-bottom: 80px;
      .choose_us_list {
        margin-top: 35px;
        color: white;
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(3, 1fr);
        .guarantee_item {
          display: grid;
          grid-gap: 15px;
          grid-template-columns: auto 1fr;
          p {
            margin: 0 0;
          }
          .guarantee_title {
            @include sys_font(700, 19px, white, 1.4, 1px);
          }
          .guarantee_desc {
            @include sys_font(400, 13px, white, 1.6, 0px);
            margin-top: 8px;
          }
        }
      }
    }

    // ****************** Quote Form ***************************
    .quote_form {
      margin-top: 40px;
      form {
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 20px;
        border: 2px solid $light_blue;
        border-radius: 20px;
        i {
          color: $light_blue;
        }
        select {
          width: 85%;
          margin-left: 40px;
          font-size: 15px;
          color: grey;
        }
        .msgSubmitSuccess {
          @include sys_font(700, 16px, #16be45, 1.1, 0px);
          border: 1px solid #16be45;
          text-align: center;
          padding: 15px;
          margin: 15px;
        }
        .msgSubmitFail {
          color: red;
          border: 1px solid red;
        }
        .form_section {
          text-align: center;
          @include sys_font(600, 20px, $blue, 1.1, 1px);
        }
        .submit_btn {
          @include btn($light_blue, $blue);
          padding: 10px 35px;
        }
      }
    }

    // *******************FOOTER *****************************
    .footer {
      position: relative;
      background-color: $dark_blue;
      display: grid;
      justify-content: center;
      padding-top: 20px;
      .footer_content {
        text-align: center;
        padding-top: 30px;
        padding-right: 30px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        color: white;
        @media screen and (max-width: $tablet_bp) {
          grid-template-columns: 1fr 1fr;
          max-width: 100%;
          padding: 20px 9%;
        }
        max-width: 70vw;
      }
      .footer_section {
        @include sys_font(700, 15px, white, 1.7, 0px);
      }
      .footer_line {
        border-top: 2px solid $light_blue;
        padding-top: 15px;
      }
      .copyright {
        grid-column: span 4;
        @media screen and (max-width: $tablet_bp) {
          grid-column: span 2;
        }
      }
    }
  }
}

.title {
  @include sys_font(700, 36px, black, 1.3, 0.04em);
  padding-top: 30px;
  padding-bottom: 20px;
}
.shell {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  background-color: $light_blue;
  fill: $light_blue;
  width: 70px;
  height: 2px;
  border: 0;
  margin-left: 0px;
}

.skew_box {
  position: absolute;
  background-color: #fff;
  width: 600px;
  height: 25px;
  transform: skewX(-35deg);
}
.one {
  top: 0;
  margin-left: -10px;
}
.two {
  bottom: 0;
  right: 0;
  margin-right: -10px;
}
